<li class="entry" 
    id="<%= entry.file_id %>" 
    onclick="displayEntry('<%= entry.file_id %>')">
  <p class="entry_title"></p>
  <p class="entry_date">Created at <%= entry.created_at %></p>
</li>