<section class="header">
  <section class="logo">JOURNAL</section>
  <section class="space"></section>
  <%= image_tag "", class: "profile-image" %>
  <%= @user.given_name %>
  <%= form_for @user, :html => { class: "logout_user" }, 
                      url: logout_path, 
                      method: "delete" do |f| %>
    <%= f.button "Sign Out", class: "btn btn-primary", onclick: "signOut()" %>
  <% end %>
</section>