<meta name="google-signin-client_id" content="233361855229-omsegl02h7ggvurbqk4pj0g6drs496js.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<a href="#" onclick="signOut();">Sign out</a>
<script src="https://apis.google.com/js/platform.js" async defer></script>