// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin text_field_default() {
  border: 1px solid #e8e8e8;
  padding: 1rem;

  &:focus {
    outline: none;
  }
}

.entry {
  cursor: pointer;

  &:hover {
    background-color: #e8e8e8;
  }

  .entry_title {
    font-weight: bold;
  }
}

#entry_field {
  @include text_field_default();
  width: 100%;
  resize: none;
  border-top: none;
  flex: 1;
  font-size: 1.75rem;

  &::first-line {
    font-weight: bold;
    font-size: 2.5rem;
  }
}