// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin text_field_default() {
  border: 1px solid lightgray;
}

.entry {
  cursor: pointer;
}

#title_field {
  @include text_field_default();
  width: 100%;
  border-bottom: none;
}

#entry_field {
  @include text_field_default();
  width: 100%;
  resize: none;
  border-top: none;
  flex: 1;
  margin-bottom: 1rem;
}